body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}
@font-face {
    font-family: 'Kremlin';
    src: url("/public/fonts/Kremlin.svg")format("svg");
}

h1 {
    font-family: 'Kremlin';
    color: #007c89;
    letter-spacing: 1px;
}
h2 {
    font-family: 'Kremlin';
}
/* button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  } */

.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    background-color: #ffe01b;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #007c89;
  border: none;
  border-radius: 8px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #007c89;
}
button {
    font-size: 13px;
    border-style: solid;
    background-color: white;
    border-color: #007c89;
    border-radius: 8px;
    border-width: 2px;
    color: #007c89;
    min-height: 50px;
    min-width: 100px;
    outline:0;
    cursor: pointer;
    margin: 3px;
  }
  
  button:hover {
      background-color: #007c89;
      color: white;
  }

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}
/* table, th, td, tr, deals with the table shown on DeckDetail Component */
table {
    border-collapse: collapse;
    min-width: 600px;
    margin: 0 auto;
}

th, td {
    text-align: left;
    padding: 8px;
    /* border: 1px solid #ddd; */
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    color: black;
}
